.form {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.form> :nth-child(2) {
  margin: 24px 0;
}

.changeContainer {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 20px;
  margin-top: 24px;
}

.cancelText {
  color: #4C4CFF;
}