.form {
  display: flex;
  flex-direction: column;
}

.form> :nth-child(2) {
  margin: 24px 0;
}

.changeContainer {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 20px;
  margin-top: 24px;
}

.cancelText {
  color: #4C4CFF;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileTitle {
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .form {
    margin: 24px auto 0;
  }

  .changeContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .inputWrapper {
    width: 100%;
    max-width: 100%;
  }

  .inputWrapper :global(.input) {
    width: 100% !important;
    max-width: 100% !important;
  }
}