.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 600px;
  gap: 16px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.price {
  display: flex;
  align-items: center;
}

.scrollArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 400px;
  overflow-y: auto;
  width: 100%
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
  width: 100%;
}

.waiting {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  justify-content: space-around;
}

.preloaderWrapper {
  display: flex;
  gap: 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}
