.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px auto;
}

.orderId {
  color: #F2F2F3;
  text-shadow: 0 0 8px #3333FF80,
    0 0 16px #3333FF60,
    0 0 32px #3333FF40;
}