.container {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 320px;
  margin-right: 60px;
  background-color: #131316;
  max-height: 190px;
}

.link {
  display: block;
  margin: 16px 0;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link_active {
  color: white;
}

.text {
  margin-top: 80px;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}