.wrapper {
  max-width: 1240px; 
  margin: 0 auto;
  box-sizing: border-box;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
}
