.page {
  display: flex;
  justify-content: space-around;
  max-width: 1280px;
  gap: 60px;
  margin: 0 auto;
}

.title {
  margin: 40px 0 20px;
}

.feedList {
  overflow-y: scroll;
  max-height: 768px;
  padding: 8px;
  scrollbar-gutter: stable;
  scrollbar-color: #8585AD;
  scrollbar-width: 8px;
}

.card {
  margin-bottom: 16px;
}

.statuses {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 272px;
}

h2 {
  color: #F2F2F3;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.doneStatus {
  color: #00CCCC;
}

.numberDone,
.number {
  display: block;
  width: 100%;
  text-align: left;
}

.doneStatus li, 
.pendingStatus li {
  gap: 8px;
}

.totalNumberToday {
  margin-top: 60px;
}