.content {
  background-color: #1C1C21;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 10000;
  width: 720px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 40px 0 40px;
}

.closeButton.absolute {
  position: absolute;
  top: 60px;
  right: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.closeButton.inline {
  position: static;
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
}