.content {
  background-color: #1C1C21;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 10000;
  width: 720px;
  padding: 40px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.mainTitle {
  color: #F2F2F3;
  font-weight: 700;
  font-size: 36px;
}

.numberTitle {
  color: #F2F2F3;
}


.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.mainInfo {
  margin-top: 16px;
  color: #FFFFFF;
}