.container {
  max-width: 600px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  width: 100%
}

.scrollArea {
  max-height: 756px;
  overflow-y: scroll;
  padding-right: 10px;
  scroll-behavior: smooth;
}

.category {
  margin-bottom: 32px;
}

.categoryItems {
  display: flex;
  flex-wrap: wrap;
}

.counter {
  top: 8px;
  right: 8px;
}

@media (max-width: 768px) {
  .categoryItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tabs >* {
    width: 33%;
  }

  .bottomMobile {
    position: fixed;
    background-color: #1C1C21;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 16px 8px;
  }
}