.card {
  background-color: #1C1C21;
  border-radius: 20px;
  max-width: 584px;
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin: 24px 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagesContainer {
  display: flex;
  position: relative;
}

.imageWrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #801AB2;
  background-color: #131316;
  margin-left: -16px;
  flex-shrink: 0;
  transition: transform 0.2s, z-index 0.2s;
  position: relative;
}
.imageIndex0 { z-index: 6; margin-left: 0; }
.imageIndex1 { z-index: 5; margin-left: -16px; }
.imageIndex2 { z-index: 4; margin-left: -16px; }
.imageIndex3 { z-index: 3; margin-left: -16px; }
.imageIndex4 { z-index: 2; margin-left: -16px; }
.imageIndex5 { z-index: 1; margin-left: -16px; }

.imageWrapper:first-child {
  margin-left: 0;
}

.imageWrapper:hover {
  transform: scale(1.1);
  z-index: 10;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
}